.pallete-blue {
    background-color: #fafafa;
    color: #3b33eb;
    color: #2477d4;
    color: #2af5f6;
    color: #8c24d4;
    color: #F627C5;

}




body {
    font-family: "Roboto", sans-serif;
}

header {
    width:95%;
    margin: auto;
    font-family: "Cormorant Garamond", serif;
    color: #223594;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.5rem
}

nav {
    width: 75%;
    margin: right;
}

nav ul {
    display: flex;
    justify-content: right;
    align-items:center;
    font-size: 1rem;
}


nav li {
    text-align: right;
    padding-left:1rem;
}
.logo {
    display: none;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid white;
    
}

nav a:link, a:visited {
    color: #223594;
    border-bottom: 2px solid white;
}

nav a:focus,
a:hover {
    border-bottom: 2px solid #223594;
}



main {
    background-color: #fafafa;
    width:95%;
    margin: auto;
   
}

.logo a{
    border-bottom: 2px solid white;
}

@media screen and (min-width: 1024px ){
    header {
        display: block;
    }
    h1 {
        padding-top:0.25rem;
    }
    
    nav {
        width:100%;
        margin: auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: baseline;

    }
    .logo {
        display:inline;
    }

}
/*.selected{
border-top: .2rem brown solid;
border-bottom: .2rem brown solid;
}*/