nav {
    border: 2px dotted purple;
    width:50%;
    margin: 1rem auto;
}

nav li {
    background-color:antiquewhite;
}
nav a{
    display: block;
    color:blueviolet;
    text-decoration:none;
    font-size: 1.5rem;
padding: 0 .5rem;
}

nav a:link{

}

nav a:focus, a:hover {
    background-color: blueviolet;
    color: white;
    
    
}
nav a:hover{

}
